data/
.ipynb_checkpoints/
.DS_STORE
.vscode/
__pycache__/
.idea/
*.csv

# These either will never be used or will be in the future, but are ignored for now
source/scripts/repository.py
board.ipynb
board.py
